# font color
foreground #00ff00
background #000000

################
### KEYBOARD ###
################
# Move the active window in the indicated direction
map shift+up move_window up
map shift+left move_window left
map shift+right move_window right
map shift+down move_window down

# Resizing windows
map alt+left resize_window narrower
map alt+right resize_window wider
map alt+up resize_window taller
map alt+down resize_window shorter 3
# reset all windows in the tab to default sizes
map alt+home resize_window reset


#############
### MOUSE ###
#############
# Paste from the primary selection
mouse_map middle release ungrabbed paste_from_selection

# Start selecting text
mouse_map left press ungrabbed mouse_selection normal


###################
### PERFORMANCE ###
###################
# Keyboard to screen latency
input_delay 0
repaint_delay 2
sync_to_monitor no
wayland_enable_ime no
